package router

import "github.com/kataras/iris/v12"

func (r *Router) {{$.ModuleName}}(route iris.Party) {
{{range $Enum := .API}}
    {{if $Enum.Get}}
    route.Get("{{$Enum.Path}}", r.{{$.ModuleName}}Ctl.{{$Enum.RestName}})
    {{else}}
    route.Post("{{$Enum.Path}}", r.{{$.ModuleName}}Ctl.{{$Enum.RestName}})
    {{end}}
{{end}}
}



